.side-bar
  .header
    %h3.header__name
      karimen
    %ul.header__lists
      %li.list
        = link_to do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__name
        aaa
      .group__message
        こん
    .group
      .group__name
        zzz
      .group__message
        ばん
    .group
      .group__name
        aaa
      .group__message
        わ